* {
    box-sizing: border-box;
}



section {
    background-color: rgb(15, 142, 132);
    padding: 1rem;
    /* height: 50vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap;
    justify-content: space-around; */
    align-items: center;




}

section div {
    /* background-color: rgb(214, 226, 43); */
    padding: 1rem;
    /* width: 33%; */
    flex-grow: 1;
}

section p {
    background-color: aliceblue;
    padding: 1rem;
}

div:nth-child(5) {

    order: -1;
}

div:nth-child(3) {

    order: 4;
}

div:nth-child(1) {

    order: 2;
}