@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');




body {
    width: 100%;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    background-color: hsl(226, 43%, 10%);
    /* <weight>: Use a value from 300 to 900 */
    position: relative;
    

}

.container-1 {
    
    height: 500px;
    
}

.box-1 {
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr;
    object-fit: contain;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    overflow: auto;
    
}
.box-2 {
    background-color: hsl(235, 46%, 20%);
    color: hsl(235, 45%, 61%);;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}


.box-2 p:hover {
    color: azure;
}
.box-1 img {
    width: 80%;
    border: solid white 3px;
    border-radius: 160px;
    justify-items: center;
    margin: 20px;
}

span {
    color: white;
    font-weight: 300;
}

.box-1 p {
    color: #b2acfe;
}